.inner-container1{
    float: left;
    width: 23%;
    height: 100%;
}

.tittle{
    background-color: rgb(222, 240, 189);
    color: dodgerblue;
    text-align: center;
}

.contact{
    li:nth-child(odd) { background: #f8b8f0; }
    list-style-type: none;
}

.inner-container2{
    float: left;
    width: 77%;
    height: 100%;
}

.chat-container {
    background-color: #e4f3fa;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
    .header {
      background-color: rgb(235, 227, 250);
      padding: 20px;
      h1 {
        margin: 0;
        font-family: sans-serif;
      }
    }
  
    .chat-window {
      flex: 1;
      overflow: auto;
      padding: 20px;
      height: calc(100vh - 158px);
  
      .message-list {
        list-style: none;
        padding: 0;
        margin: 0;
  
        .message {
          display: flex;
          margin-bottom: 20px;
  
          &.received {
            align-items: flex-start;
          }
  
          &.sent {
            align-items: flex-end;
            flex-direction: row-reverse;
          }
  
          .message-text {
            background-color: #ddd;
            border-radius: 10px;
            padding: 20px;
            width: fit-content;
            margin: 0 20px;
            p {
              font-family: sans-serif;
            }
            .username {
              font-weight: bold;
              margin-bottom: 5px;
              display: block;
            }
          }
        }
      }
    }
    .input-group {
      background-color: #ddd;
      padding: 20px;
      display: flex;
      justify-content: space-between;
  
      input[type="text"] {
        width: 80%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        outline: none;
      }
  
      button[type="submit"] {
        width: 15%;
        padding: 10px;
        border: none;
        border-radius: 10px;
        background-color: #4CAF50;
        color: #fff;
        cursor: pointer;
      }
    }
}