<div>
    <div class="inner-container1">
        <div class="tittle">
            <h1>Chat App</h1>
        </div>
        <div>
            <ul class="contact">
                <li class="message received">
                    <p class="username">User 1:</p>
                </li>
                <li class="message sent">
                    <p class="username">User 1:</p>
                </li>
                <li class="message received">
                    <p class="username">User 1:</p>
                </li>
                <li class="message received">
                    <p class="username">User 1:</p>
                </li>
                <li class="message sent">
                    <p class="username">User 1:</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="inner-container2 ">
        <div class="chat-container">
            <div class="header">
                <h1>Chat</h1>
            </div>
            <div class="chat-window">
                <ul class="message-list">
                    <li class="message received">
                        <div class="message-text">
                            <p class="username">User 1:</p>
                            <p>Hello! How are you doing today?</p>
                        </div>
                    </li>
                    <li class="message sent">
                        <div class="message-text">
                            <p class="username">You:</p>
                            <p>I'm doing well, thank you for asking! How about you?</p>
                        </div>
                    </li>
                    <li class="message received">
                        <div class="message-text">
                            <p class="username">User 1:</p>
                            <p>I'm doing great! So, what's new with you?</p>
                        </div>
                    </li>
                    <li class="message received">
                        <div class="message-text">
                            <p class="username">User 1:</p>
                            <p>I'm doing great! So, what's new with you?</p>
                        </div>
                    </li>
                    <li class="message sent">
                        <div class="message-text">
                            <p class="username">You:</p>
                            <p>I'm doing well, thank you for asking! How about you?</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="input-group">
                <input type="text" placeholder="Type a message...">
                <button type="submit">Send</button>
            </div>
        </div>
    </div>
</div>